* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header css */

.header {
    background-image: url(../images/banner/banner2.png);
    width: 1600px;
    height: 730px;
}

.header-description {
    text-align: end;
    padding-top: 250px;
    margin-right: 200px;
}

.header-head {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #151414;

}

.header-discrip {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;

}

.primary-battn {
    height: 64px;
    left: 1210px;
    background: #F15B22;
    border-radius: 5px;
    text-align: right;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
}

/* about-my-plan css */


.about-my-plan {
    display: flex;

}

.planing-working {
    margin-top: 150px;
}

div img {
    padding-left: 350px;
    height: 700px;
    width: 600px;
}

.body-description {
    padding-top: 200px;
    padding-left: 100px;

}

.body-head {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 288px;
    height: 94px;
    margin-bottom: 40px;
    color: #151414;
}


.body-paragraph {
    font-weight: 400;
    font-size: 16px;
    width: 416px;
    height: 104px;
    color: #444343;
    margin-bottom: 40px;
}

.body-list {
    list-style: none;
    color: #444343;
    width: 315px;
    height: 26px;

}

i {
    color: aqua;

}

/*  my work css*/


.MY-WORK-HEAD {
    font-weight: 700;
    font-size: 40px;
    width: 179px;
    height: 47px;
    color: #151414;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 800px;
    line-height: 47px;
}

.working-planed {
    display: flex;
    margin-left: 70px;
}

.images-1 {
    width: 92.96px;
    height: 92.96px;
    padding-left: 100px;
    padding-right: 80px;

}

.head-1 {
    padding-left: 50px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;

    text-align: center;

    color: #151414
}

.para-1 {
    padding-left: 90px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;
}


/* last paret css */
.last-part {
    background-image: url(../images/watch.png);

    width: 1130px;
    height: 300px;
    margin: 100px 50px 100px 100px;
}

.last-part-header {
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}


.primary-battn-no2 {
    width: 126.5px;
    height: 32.24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    width: 126.5px;
    border: none;
    padding: 25px 5px 35px 5px;
    background: #FFFFFF;
border-radius: 25px;
margin-left: 20px;
}